  <div class="container mt-5">  
      <h2>Users List</h2>
      <!-- <table class="table table-striped"> -->
      <table class = "table table-bordered">
        <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Address</th>
              <th>Lat</th>
              <th>Long</th>
              <th>Phone</th>
              <th>Website</th>
              <th>Company Name</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersList">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{user.address.street}} {{user.address.city.zipcode}} {{user.address.zipcode}}</td>
            <td>{{user.address.geo.lat}}</td>
            <td>{{user.address.geo.lng}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.website}}</td>
            <td>{{user.company.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  